.menu{
    background-color: #475890;
    height: 100vh;
    font-family: barlow-medium;
}
.menu-heading h3{
    font-size: 20px;
    color:rgba(255, 255, 255, .3);
    padding: 28px 0px 28px 0px;
}
.menu-heading {
    background-color:#3F4E80;
    height: 80px;
}
.menu-icon{
float: left;
width: 18px;
height: 18px;
}
.menu-list{
float: left;
padding-left: 13px;
font-size: 16px;
top: -4px;
position: relative;
color: white;
}

.menu-list-style{
    list-style: none;
    margin-top: 20px;
}
.menu-span{
    position: relative;
    left: -15px;
}
.menu-items{
    background-color: #475890;
}
.menu-bottom{
    color: white;
    font-size: 21px;
    top: 260px;
    position: relative;
}