.loginscreen{
    background-image: url(../Images/map.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: repeat;
    height: 100vh;
}
.loginform{
    margin: auto;
    position: relative;
    top: 40%;
    width: 400px;
    background-color: #d7d2cc;
    border-radius: 15px;
    height: 150px;
}
.floatleft{
    float: left;
}
.paddingtop20{
    padding-top: 20px;
}
.loginbutton{
    margin: auto;
}

@media screen and (max-width: 768px) {
    .loginform{
        top: 35%;
        height: 220px;
        border-radius: 0px;
    }
    .floatleft{
        float: none;
    
    }
    .loginbutton{
        margin-top: 10px;
    }
    
  }