.dashboard-middile h3{
    font-size: 20px;
    color: #C2C8CA;
    float: left;
    padding-top: 28px;
    font-family: barlow-medium;
    padding-left: 42px;
    padding-bottom: 15px;
}
.dashboard-header{
    height: 80px;
}
.dashboard-header h3 {
    font-size: 20px;
    color: #C2C8CA;
    float: left;
    padding-top: 28px;
    font-family: barlow-medium;
    padding-left: 42px;
}
.dashboard-map{
    background: url('../../Images/map.jpg');
    background-position: center;
    height: 300px;
}

.table_view_position{
    position: relative;
    left: 30px;
}
.DateRangePicker__Month{
    width: 225px;
}
.padding-top-25{
    padding-top: 25px;
}
.DateRangePicker__CalendarSelection{
    background-color: #6AC7F4 !important;
}
.table-bordered td, .table-bordered th ,.table-bordered {
    border: 0px solid ;
    font-family: barlow-medium;
}
.table-bordered th 
{
    background-color: #F2F3F0;
}
.table-striped tbody {
    cursor: pointer;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: white;
}
.DateRangePicker {
    font-family: barlow-medium;
}
.modal_header{
    margin: auto;
    padding: 15px;
    padding-bottom: 25px;
    color:teal;
}
.modal_item{
padding-left: 35px;
padding-bottom: 0px;
}
.modal_close{
    width: 100px;
    margin: auto;
    margin-bottom: 25px;
}
.username{
    float: right;
    padding: 27px 15px 0px 0px;
    font-size: 18px;
}
.dashboard-header i {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
    position: relative;
    top: -3px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }